.*
!.gitignore
*~
*.orig
*.log
*.run
*.tgz
*.xz
*.pkg
*.bak
*.tar.gz
*.tar.zst
*.old
*.db
*.files
src/
pkg/
# Only in this folder
/*.diff
/*.conf
/*.install
/*.sysusers
/*.patch
/options
/egl-wayland/